$color-primary: #461f1f;
$color-secondary: #f0ad93;
$color-panel: rgb(236, 236, 236);
$font-roboto: "Roboto", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-patrick: "Patrick Hand", cursive;
$font-caveat-curisve: "Caveat", cursive;


body{
    font-family: $font-roboto;
    background-color: $color-primary;
}

h1 {
    font-family: $font-raleway;
    font-weight: 500;
    font-size: 124px;
}

h2 {
    font-family: $font-caveat-curisve;
    font-size: 74px;
}

.jumbotron {
    background-color: $color-primary;
    margin-bottom: 0px;
}

#bg {
    position: fixed;
    top: -70%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#infoPanel {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-panel;
}

#infoPanelBody {
    width: 100%;
    padding: 30px;
    font-size: 22px;
    margin: 0;
    border: 1px dotted;
}

.nav {
    text-align: center;
    background-color: rgb(212, 112, 87);
    font-family: $font-raleway;
    li {
        color: white;
    }
}

.nav-item {
    width: 20%;
    border: 1px solid white;
}

.nav-link {
    color: white;
}

.nav .active .nav-link{
    background-color: $color-secondary;
    color: black;
}

.nav-link:hover{
    color: black;
}

#orderButton{
    margin-top: 120px;
    margin-bottom: 120px;
}

#menuPanel {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-panel;
}

#menuPanelBody {
    background-color: $color-panel;
    width: 100%;
    margin: 0;
    thead{
        font-size: 42px;
    }
    tbody {
        th{
            background-color: #647a67;
            color: white;
            font-size: 28px;
        }
    }
    td {
        background-color: rgb(182, 176, 165);
        vertical-align: middle;
        }
    h3 {
        font-family: $font-roboto;
        font-size: 26px;
    }
}

#orderPanel {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-panel;
}

.orderPanelBody {
    width: 100%;
    padding: 30px;
    font-size: 22px;
    margin: 0;
    border: 2px ridge;
    background-color: rgb(214, 194, 184);
    label {
        font-size: 18px;
    }
    option {
        font-size: 14px;
    }
    #extras {
        background-color: $color-panel;
        label{
            font-size: 16px;
        }
        
    }
    
}

.ownerFav {
    font-size: 16px;
    font-family: $font-patrick;
}

#yourName{
    padding-top: 10px;
}

#yourEmail{
    padding-top: 10px;
}

// #tempChoice {
//     display: none;
// }

// #temp {
//     display: none;
// }





footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(36, 27, 23);
}
